*{
    padding:0;
    margin:0;
     font-family: 'Poppins', sans-serif;
     font-weight:500;
}

 .Toastify__toast{
        border-radius: 10px;
    }
@media only screen and (max-width:480px){
   
    .Toastify__toast{
        border-radius: 10px;
    }

    
   .Toastify__toast-container{
       padding:0px;
       left:auto;
       top:2%;
       right:3% ;
    }

}