.loadani{
    min-height: 100vh;
    width: 100%;
    top:0;
    left:0;
    position:fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background-color: black;
    
}

.loadanimation{
    
    width: 10%;
    display: block;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: rgb(0, 0, 0);
    position: relative;
    animation: spin  0.8s linear infinite;
   
}


.loadanimation::before,.loadanimation::after{
    content: "";
    position: absolute;
    height: 100%;
    z-index: -1;
    border-radius: 50%;
    padding: 1rem;  
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   background:conic-gradient(transparent 40%,#60efffd1 ,#0061ff );
    width: 100%;
}

.loadanimation::after{
    background:conic-gradient(transparent 30%,#60efffd1 ,#0061ff );
    filter: blur(10px);
    
}

.loadani h1 {
    margin: 15px;
    margin-top: 50px;
    background: linear-gradient(
        to right,
        #0061ff 0%,
        #60efffd1 30%,
        #0061ff 100%
    );
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: colchange 5s linear infinite;
}

@keyframes colchange {
    0% {
        background-position: 0% ;
    }
    100% {
        background-position: 200% ;
    }
}

 .capstart {
    position: absolute;
    height: 1.015rem;
    width: 1.015rem;
    border-radius: 50%;
    background:linear-gradient(184deg,#0061ff,#4e8fd9) ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    top:-0.5007rem;
    
}
.loadblock{
    background:rgb(0, 0, 0);
    width: 100%;
    filter: blur(5px);
    height: 100%;
    display: block;
    border-radius: 50%;
}

@keyframes spin{
 from{
    transform: rotate(0deg);
    
 }
 to{
    transform: rotate(360deg);
   
 }
}

@media screen and (max-width:431px) {

    .loadanimation::after{
    filter: blur(7px);
    
}
 .loadblock{
    filter:blur(1px)
}

    .nav h1 {
        font-size:27px;
        padding: 3px 6px;
    }

    
    
}