.container{
    background-color: black;
    color: whitesmoke;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nav{
    position: fixed;
    top:0%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    backdrop-filter: blur(5px);
}
.nav h1{
    background:linear-gradient(to right,#0061ff,#60efffd1);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    padding: 3px 6px;
    
}



.logincontainer ,.verifycontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background: #1a1a1ad5;
    border-radius: 30px;
}

.logincontainer h1,.verifycontainer  h1{
     background:linear-gradient(to right,#0061ff,#60efffd1);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-weight: bold;
    margin: 15px 5px;

}
.logincontainer p{
    text-align: center;
}
.verifycontainer p{
    text-align: center;
    margin: 7px 10px;

}



.logincontainerinput{
    border: none;
    margin: 10px 10px;
    padding: 8px 10px ;
    color: black;
    transition: 0.1s;
    border-radius: 10px;
    background-color: rgb(158, 156, 156);
}

.logincontainerinput::placeholder{
    color: rgb(6, 6, 6);
}

.logincontainerinput:focus{
    outline: none;
    border: 3px solid #f1eded;
}

.passdiv{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-right: 5px;
    border: none;
    margin: 10px 10px;
    color: black;
    width: auto;
    transition: 0.1s;
    border-radius: 10px;
    background-color: rgb(158, 156, 156);

    
}
.passdiv:focus-within{
    border: 3px solid #f1eded;
}
.passdiv input{
    border: none;
    padding: 8px 10px ;
    color: black;
    transition: 0.1s;
    background-color: rgb(158, 156, 156);
    width: 190px;
    border-radius: 10px;
    
}

.passdiv i{
    cursor: pointer;
}

.passdiv input::placeholder{
      color: rgb(6, 6, 6);
}

.passdiv input:focus{
    outline: none;
}


.logincontainerbutton , .verbtn{
    padding: 7px 10px;
    margin:30px 10px 20px 10px;
    border: none;
    border-radius: 10px;
    color:black;
    background:linear-gradient(to right,#0061ff,#60efffd1) ;
    font-weight: bold;
    transition: 0.2s;}

    .verbtn{
        width: 150px;
        margin-top: 15px;
    }
.logincontainerbutton:hover:not(:disabled),.verbtn:hover:not(:disabled){
    transform: scale(1.03);
    cursor: pointer;
    background:linear-gradient(to right,#0062ffd4 ,#60efffa6 );
}
.logincontainerbutton:active:not(:disabled),.verbtn:active:not(:disabled){
    transform: scale(0.95);
}
.forgetpass{
    margin : 10px 10px 0px 10px;
    cursor: pointer;

}
.logincontainerbutton:disabled,.verbtn:disabled{
    cursor:not-allowed;
    opacity: 0.6;
}

.forgetpass:hover{

    text-decoration: underline;
    color: #0862f3;

}

.logincontainerspan {
    color: #0862f3;
    cursor: pointer;
    font-weight: 600;
    
}
.ghr{
    margin: 25px 0px 0px 0px;
    border-radius: 50%;
    border: none;
    height: 0.5px;
    background-color: whitesmoke;
}
.logincontainerspan:hover{
   text-decoration: underline;
}


.verifycontainer{
    max-width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background: #1a1a1ad5;
    border-radius: 30px;
    align-items: center;
}

.otpcontainer{
    margin: 25px 10px;
}
.otpinp{
    aspect-ratio: 1;
    border:none;
    background-color: rgb(158, 156, 156);
    text-align: center;
    margin: 7px;
    width:100px;
    font-size: 50px;
    border-radius: 10px;
   
}
.otpinp::placeholder{
    color: black;
    font-size: 39px;
}
.otpinp:focus{
    outline: none;
    border: 0.2rem solid  #f1eded;
   
}

.linkdis{
    text-decoration: none;
    color: #0862f3;
    align-self:flex-start;
}


@media screen and (max-width:1000px) {
    .otpinp{
        width: 50px;
        font-size: 25px;
    }
    .verifycontainer{
        width: 80%;
    }
    .otpinp::placeholder{
        font-size: 25px;
    }
}

@media screen and (max-width:555px) {

    .verifycontainer{
        width: 80%;
    }

    .nav h1 {
        font-size:29px;
        padding: 3px 6px;
    }
    .otpinp{
        width: 30px;
        font-size: 15px;
        margin: 4px;
    }

    .otpinp::placeholder{
        font-size: 15px;
    }
    
}